<div class="container-fluid">
    {{ f.value | json }}

    <div class="container-fluid">
        <div
            class="card mx-auto col-sm-12 col-md-6 col-lg-6 col-xl-6"
            style="padding-top: 0"
        >
            <div class="card-header">
                <h4 class="text-center">Template Driven Forms</h4>
            </div>
            <div class="card-body">
                <form #f="ngForm" novalidate (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="firstname">First Name</label>
                        <input
                            type="text"
                            name="firstName"
                            #firstname="ngModel"
                            required
                            minlength="3"
                            [(ngModel)]="userData.firstname"
                            [ngClass]="{
                                'form-control': true,
                                'is-invalid':
                                    firstname.touched && firstname.invalid
                            }"
                        />
                        <!-- {{firstname.className | json }} -->
                        <label
                            class="alert alert-danger text-center w-100"
                            *ngIf="firstname.touched && firstname.errors?.['required']"
                        >
                            this field is requierd</label
                        >
                        <label
                            class="alert alert-danger text-center w-100"
                            *ngIf="firstname.touched && firstname.errors?.['minlength']"
                        >
                            Write 3 characterd at least
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="lastname">Last Name</label>
                        <input
                            type="text"
                            class="form-control"
                            id="lastname"
                            name="lastName"
                            #lastname="ngModel"
                            required
                            minlength="3"
                            [(ngModel)]="userData.lastname"
                            [class.is-invalid]="
                                lastname.touched && !lastname.valid
                            "
                        />
                    </div>
                    <label
                        class="alert alert-danger text-center w-100"
                        *ngIf="lastname.touched && lastname.errors?.['required']"
                    >
                        This field is requierd
                    </label>
                    <label
                        class="alert alert-danger text-center w-100"
                        *ngIf="lastname.touched && lastname.errors?.['minlength']"
                    >
                        Write 3 characterd at least
                    </label>
                    <div class="form-group">
                        <label for="email">E-Mail</label>
                        <input
                            type="email"
                            name="email"
                            #Email="ngModel"
                            required
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                            [(ngModel)]="userData.email"
                            [ngClass]="{
                                'form-control': true,
                                'is-invalid': Email.touched && Email.invalid
                            }"
                        />
                        <div
                            [ngClass]="{
                                alert: true,
                                'alert-danger': true,
                                'text-center': true,
                                'w-100': true,
                                'd-none': Email.untouched || Email.valid
                            }"
                        >
                            <label *ngIf="Email.errors?.['required']">
                                E-mail is requierd
                            </label>
                            <label *ngIf="Email.errors?.['pattern']">
                                Incorrect value for E-mail
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="">Phone Number</label>
                        <input
                            type="tel"
                            class="form-control"
                            name="phone"
                            #phone="ngModel"
                            required
                            pattern="^\d{10}$"
                            [(ngModel)]="userData.phone"
                            mask="(000) 000-0000"
                            placeholder="(123) 456-7890"
                        />
                    </div>
                    <div
                        ngModelGroup="passwordGroup"
                        #passwordGroup="ngModelGroup"
                        [ngClass]="{'form-control': true, 
                        'is-invalid': confirmPassword.touched && confirmPassword.invalid && !confirmPassword.errors?.['requierd']}"
                    >
                        <div class="form-group">
                            <label for="">Password</label>
                            <input
                                type="password"
                                name="password"
                                #password="ngModel"
                                required
                                (change)="
                                    confirmPassword.control.updateValueAndValidity()
                                "
                                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
                                [(ngModel)]="userData.password"
                                [ngClass]="{
                                    'form-control': true,
                                    'is-invalid':
                                        password.touched && password.invalid
                                }"
                            />
                        </div>
                        <div
                            [ngClass]="{
                                alert: true,
                                'alert-danger': true,
                                'text-center': true,
                                'w-100': true,
                                'd-none': password.untouched || password.valid
                            }"
                        >
                            <label
                                *ngIf="password.touched && password.errors?.['required']"
                            >
                                password is requierd
                            </label>

                            <label
                                *ngIf="((password.touched) && (password.errors?.['pattern']))"
                            >
                                Incorrect value for password
                            </label>

                            <!--  <label *ngIf="((password.touched) && (password.errors?.['notEqual']))">Password not matched</label> -->
                        </div>

                        <div class="form-group">
                            <label for=""> Reenter Password </label>
                            <input
                                required
                                appConfirmEqualValidator="password"
                                type="password"
                                name="confirmPassword"
                                #confirmPassword="ngModel"
                                [ngClass]="{
                                    'form-control': true,
                                    'is-invalid':
                                        confirmPassword.touched &&
                                        confirmPassword.invalid
                                }"
                                ngModel
                            />
                        </div>
                        <div
                            [ngClass]="{
                                alert: true,
                                'alert-danger': true,
                                'text-center': true,
                                'w-100': true,
                                'd-none':
                                    confirmPassword.untouched ||
                                    confirmPassword.valid
                            }"
                        >
                            <label
                                *ngIf="confirmPassword.touched && confirmPassword.errors?.['required']"
                            >
                                Please confirm password (this field is requierd)
                            </label>
                            <label
                                *ngIf="confirmPassword.touched && confirmPassword.errors?.['notEqual']"
                                >Please repeat password correctly
                            </label>
                            <!-- <label *ngIf="((password.touched) && (password.errors?.['notEqual']) && (!password.errors?.['requierd']))">Password not matched</label> -->
                        </div>
                    </div>
                    <div class="mb-3">
                        <label>Gender : </label>
                        <div class="radio" *ngFor="let gender of genders">
                            <label>
                                <input
                                    #gender="ngModel"
                                    required
                                    type="radio"
                                    name="gender"
                                    [(ngModel)]="userData.gender"
                                    value="{{ gender }}"
                                />
                                {{ gender }}
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <select
                            [value]="userData.Sstatus"
                            #statuss="ngModel"
                            [(ngModel)]="userData.Sstatus"
                            name="Sstatus"
                            [ngClass]="{
                                'custom-select': true,
                                'is-invalid': statuss.touched
                            }"
                        >
                            <option value="">
                                Choice Your Social Status Please ..
                            </option>

                            <option *ngFor="let state of status">
                                {{ state }}
                            </option>
                        </select>
                    </div>

                    <div class="form-check my-3">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            name="Agree"
                            #tackIt="ngModel"
                            [(ngModel)]="userData.agree"
                        />

                        <label class="form-check-label">
                            Approve terms of use
                        </label>
                    </div>

                    <div class="card-footer text-muted">
                        <button
                            class="btn btn-primary"
                            type="submit"
                            [disabled]="f.form.invalid"
                        >
                            Submit Form
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
